/*----- Accordion -----*/
.event, .event * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.event {
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  background: #f7f7f7;
}

/*----- Section Titles -----*/
.event-section-title {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border-bottom: 1px solid #1a1a1a;
  background: #333;
  transition: all linear 0.15s;
  /* Type */
  text-shadow: 0px 1px 0px #1a1a1a;
  color: #fff;
}

.event-section-title .event-title,
.event-section-title .event-date,
.event-section-title .event-locations {
  display: inline-block;
  width: 31%;
}

.event-section-title:hover {
  background: #4c4c4c;
  /* Type */
  text-decoration: none;
}

.event-section:last-child .event-section-title {
  border-bottom: none;
}

/*----- Section Content -----*/
.event-section-content {
  padding: 15px;
  display: none;
}